<div class="class-summary row">
  <div class="col-sm-2">
    <figure>
      <img src="/images/{{ class.image }}">
    </figure>
  </div>
  <div class="col-sm-8">
    <h3>{{ include.class.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Level</dt>
      <dd>{{ include.class.level }}</dd>
      <dt>Meets</dt>
      <dd>{{ include.class.meets }}</dd>
    </dl>
    <div class="description">
      {{ include.class.output }}
    </div>
  </div>
  <div class="col-sm-2 availability">
    {% if include.class.open %}
    <button class="btn btn-success">Register Now</button>
    {% else %}
    <span>Class Filled!</span>
    {% endif %}
  </div>
</div>