.fullpic {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  img {
    width: 100%;
  }
}

.site-header {
  background: #f8f8f8;
  position: relative;
  padding: 0;

  .navbar {
    margin-bottom: 0;
  }
}

.page-content {
  /*margin-top: 400px;*/
  background: #fff;
  position: relative;
}

.class-summary {

  border: 1px solid #666;
  margin-bottom: $line-height-computed * 2;
    
  dt {
    @media (min-width: 768px) {
      text-align: left;
      text-transform: uppercase;
      width: 60px;
      font-weight: normal;
      font-size: 85%;
    }
  }

  dd {
    @media (min-width: 768px) {
      margin-left: 80px;
      margin-bottom: 5px;
    }
  }

  figure {
    margin-top: $line-height-computed;

    img {
      width: 100%;
      display: block;
    }
  }

  .availability {
    padding-top: $line-height-computed;
  }
}