<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% if page.fullpic %}
    <div class="fullpic">
      <img src="{{ page.fullpic }}">
    </div>
    {% endif %}

    {% include header.html %}
    
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
          {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </body>

</html>
